body {
  margin: 0;
  padding: 0;
  touch-action: none;
  -webkit-overflow-scrolling: touch;
}

.app-container {
  position: fixed;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  min-height: 100vh;
  box-sizing: border-box;
  margin-bottom: 80px;
  padding-bottom: calc(64px + env(safe-area-inset-bottom));
  overflow-x: hidden;
  overflow-y: auto;
  &::-webkit-scrollbar {
    display: none;
  }
  .content {
    flex: 1;
    display: flex;
    overflow-y: auto;
    align-items: center;
    justify-content: center;
    padding: 20px;
    padding-bottom: 80px;
    -ms-overflow-style: none;
    scrollbar-width: none; 
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
    overscroll-behavior-y: contain;
    
  }
}

#root {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}
